:root {
  /* ### Primary */
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  /* ### Accent */
  --Blue: hsl(248, 32%, 49%);
  /* ### Neutral */
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

/* -----------  BOILERplateCODE -----------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
}

html {
  font-size: 17px;
  /* make sure that element covers 100% of height */
  min-height: 100%;
  /* choose image to cover element's background */
  background: url(./images/bg-intro-desktop.png) hsl(0deg 100% 74%);
  /* cover whole area with the image bg */
  background-size: cover;
  /* prevent background to repeat itself - tiling */
  background-repeat: no-repeat;
  /* center image */
  background-position: center center;
  /* fixed background-image */
  /* background-attachment: fixed; */
}

/* -----------  GENERAL -----------  */
.main-form {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* background-color: rgba(225, 0, 255, 0.547); */
  display: flex;
  width: 82.5rem;
  justify-content: center;
  align-items: center;
  margin-right: 2.4rem;
  /* padding: 22px; */
}

/* -----------  FORM CONTENT -----------  */
.form-content {
  /* padding-right: 5rem; */
  /* width: 30%; */
  max-width: 32rem;
  flex: 1;
}

.main-heading {
  line-height: 3rem;
  font-size: 3.4rem;
  color: whitesmoke;
  margin-bottom: 1.8rem;
}

.form-content p {
  color: whitesmoke;
  font-size: 1.2rem;
}

/*  ----------- FORM SIDE  ----------- */
.equal-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-side {
  width: 100%;
  margin: 0 1.2rem;
}

.form-box {
  background-color: white;
  padding: 2.4rem;
  border-radius: 12px;
}

input {
  width: 100%;
  height: 3.2rem;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid var(--Grayish-Blue);
}

.btn-submit {
  border: none;
  background-color: var(--Green);
  padding: 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.2rem;
}

.btn-submit:hover,
.btn-submit:active {
  background-color: hsla(154, 59%, 51%, 0.858);
  /* color: var(--Grayish-Blue); */
  border: 1px solid var(--Grayish-Blue);
  margin: -1px;
  margin-bottom: 1.1rem;
}

.signUp {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.cta-link.link-style {
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 10px 5px -2px rgba(0, 0, 0, 0.229);
  background-color: var(--Blue);
  text-decoration: none;
  color: whitesmoke;
  display: block;
}

.warning {
  font-size: 0.7rem;
  text-align: center;
  color: var(--Grayish-Blue);
}
.warning span {
  color: var(--Red);
  font-weight: 600;
}

/* ----------->>>>----------- FORM-VALIDATION -----------<<<<----------- */

.validation-box {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  height: 1.2rem;
  text-align: right;
}

/* VALID INVALID CONTAINERS */
